doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title jQuery Basics
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 One
    h2 Two
    h3 Three
    p Paragraph

    input#tb1(type='text')

    button#btn Click Me
    button#inception Click Me Too
    button#btn3 Or You Could Click Me
    button#btn4 I'll Fix It
    button#btn5 Five
    button#btn6 Button Six
    button#btn7 Change the Color

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
